.createBg {
    background-image: url("../../pictures/createBackground.jpg");
    background-position: center ;
    background-size: cover;
    height: 700px;
    margin-top: -21px;
}

@media (max-width: 560px) {
    .createBg {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.error{
    color: red;
}
